.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary h1 {
  font-size: 25px;
  margin-bottom: 15px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #333;
  font-size: 18px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
